<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".ShareUpApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShareUp"
        tools:targetApi="31">
        <activity
            android:name=".ACTIVITIES.ActivityListActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.ProfileListActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.UploadPostActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.FeedActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.CommentsActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.SinglePostActivity"
            android:exported="false"
            android:theme="@style/Theme.ShareUp" />
        <activity
            android:name=".ACTIVITIES.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ACTIVITIES.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITIES.BASE.BaseActivity"
            android:exported="false" />

        <service
            android:name=".SERVICES.FirebaseNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default" />
    </application>

</manifest>